{% extends 'base.html' %}

{% block content %}
<h2>My CV</h2>
<!-- Personal details -->
<div class="personal" name="personal-details">
  <p class="personal" name="name">
	Name: {{ name }}
  </p>
  <p class="personal" name="email">
	Email: {{ email }}
  </p>
  <p class="personal" name="phone">
	Phone: {{ phone_number }}
  </p>
  <div class="personal" name="address">
	<p name="address-header">
	  Address:
	</p>
	<p name="address-body">
	  {{ address }}
	</p>
  </div>
  <div personal="personal" name="other">
	{% for entry in personal_others %}
	<p>
	  {{ entry }}: {{ entry.body }}
	</p>
	{% endfor %}
  </div>
</div>

<!-- Education -->
{% if education %}
<div class="education">
  <h3>Education</h3>
  {% if user.is_authenticated %}
  <a href="{% url 'new_education' %}" class="entry-add"><button>Add</button></a>
  {% endif %}
  <div class="education-entries">
	{% for entry in education %}
	<p class="entry-time">{{ entry.start_date }} - {{ entry.end_date }}:</p>
	<p class="entry-what">{{ entry.course }}</p>
	<p class="entry-where">{{ entry.school }}</p>
	{% endfor %}
  </div>
</div>
{% endif %}

<!-- Techical Skills -->
{% if tech_skills %}
<div class="tech-skills">
  <h3>Technical Skills</h3>
  {% if user.is_authenticated %}
  <a href="{% url 'new_tech_skill' %}" class="entry-add"><button>Add</button></a>
  {% endif %}
  {% for entry in tech_skills %}
  <p>{{ entry.skill }}</p>
  {% endfor %}
</div>
{% endif %}

<!-- Work Experience -->
{% if work_experience %}
<div class="work">
  <h3>Work Experience</h3>
  {% if user.is_authenticated %}
  <a href="{% url 'new_work_experience' %}" class="entry-add"><button>Add</button></a>
  {% endif %}
  {% for entry in work_experience %}
  <p class="entry-date">{{ entry.start_date }} - {{ entry.end_date}}:</p>
  <p class="entry-body">{{ entry.role }}</p>
  <p class="entry-where">{{ entry.where }}</p>
  {% endfor %}
</div>
{% endif %}

<!-- Projects -->
{% if projects %}
<div class="projects">
  <h3>Projects</h3>
  {% if user.is_authenticated %}
  <a href="{% url 'new_project' %}" class="entry-add"><button>Add</button></a>
  {% endif %}
  {% for project in projects %}
  <p class="project-name">{{ project.name }}</p>
  <p class="project-body">{{ project.description }}</p>
  <p class="project-link">{{ project.link }}</p>
  {% endfor %}
</div>
{% endif %}

<!-- Personal interests -->
{% if personal_interests %}
<div class="personal-interests">
  <h3>Personal Interests</h3>
  {% if user.is_authenticated %}
  <a href="{% url 'new_personal_interest' %}" class="entry-add"><button>Add</button></a>
  {% endif %}
  {% for interest in personal_interests %}
  <p>{{ interest.interest }}</p>
  {% endfor %}
</div>
{% endif %}

<!-- References -->
{% if references %}
<div class="references">
  <h3>References</h3>
  {% if user.is_authenticated %}
  <a href="{% url 'new_reference' %}" class="entry-add"><button>Add</button></a>
  {% endif %}
  {% for reference in references %}
  <p class="reference-name">{{ reference.name }}</p>
  <p class="reference-who">{{ reference.who }}</p>
  <p class="reference-email">{{ reference.email}}</p>
  {% if reference.text %}
  <p class="reference-text">{{ reference.text }}</p>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}