{% extends 'base.html' %}

{% block content %}
<h2>My CV</h2>
<div class="cv">
  <div class="cv-section" id="cv-1">
	<!-- Personal details -->
	<div class="personal" name="personal-details">
	  {% if user.is_authenticated %}
	  <a href="{% url 'edit_person' %}"><button class="edit">Edit Personal Details</button></a>
	  {% endif %}
	  <p class="personal" name="name">
		<b>Name:</b> {{ name }}
	  </p>
	  <p class="personal" name="email">
		<b>Email:</b>
		{{ email }}
	  </p>
	  <p class="personal" name="phone">
		<b>Phone:</b>
		{{ phone_number }}
	  </p>
	  <div class="personal" name="address">
		<p name="address-header">
		  <b>Address:</b>
		</p>
		<div class="indented">
		  <p name="address-body">
			{{ address }}
		  </p>
		</div>
	  </div>
	  <div personal="personal" name="other">
		{% if user.is_authenticated %}
		<a href="{% url 'new_others' %}"><button>Add others</button></a>
		{% endif %}
		{% for entry in personal_others %}
		<p>
		  {% if user.is_authenticatd %}
		  <a href="{% url 'edit_others' pk=entry.pk %}"><button>Edit</button></a>
		  {% endif %}
		  <b>{{ entry }}:</b>
		  {{ entry.body }}
		</p>
		{% endfor %}
	  </div>
	</div>

	<!-- Education -->
	{% if education %}
	<div class="education">
	  <h3 class="entry-add">Education</h3>
	  {% if user.is_authenticated %}
	  <a href="{% url 'new_education' %}" class="entry-add"><button>Add Education</button></a>
	  {% endif %}
	  <div class="education-entries">
		{% for entry in education %}
		<p class="entry-time">
		  {{ entry.start_date }} - {{ entry.end_date }}:
		  {% if user.is_authenticated %}
		  <a href="{% url 'edit_education' pk=entry.pk %}"><button>Edit</button></a>
		  {% endif %}
		</p>
		<div class="indented">
		  <p class="entry-what">{{ entry.course }}</p>
		  <p class="entry-where">{{ entry.school }}</p>
		</div>
		{% endfor %}
	  </div>
	</div>
	{% endif %}

	<!-- Techical Skills -->
	{% if tech_skills %}
	<div class="tech-skills">
	  <h3 class="entry-add">Technical Skills</h3>
	  {% if user.is_authenticated %}
	  <a href="{% url 'new_tech_skill' %}" class="entry-add"><button>Add Technical Skill</button></a>
	  {% endif %}
	  {% for entry in tech_skills %}
	  <p>
		{{ entry.skill }}
		{% if user.is_authenticated %}
		<a href="{% url 'edit_tech_skill' pk=entry.pk %}"><button>Edit</button></a>
		{% endif %}
	  </p>
	  {% endfor %}
	</div>
	{% endif %}
  </div>

  <div class="cv-section" id="cv-2">
	<!-- Work Experience -->
	{% if work_experience %}
	<div class="work">
	  <h3 class="entry-add">Work Experience</h3>
	  {% if user.is_authenticated %}
	  <a href="{% url 'new_work_experience' %}" class="entry-add"><button>Add Work Experience</button></a>
	  {% endif %}
	  {% for entry in work_experience %}
	  <p class="entry-date">
		{{ entry.start_date }} - {{ entry.end_date}}:
		{% if user.is_authenticated %}
		<a href="{% url 'edit_work_experience' pk=entry.pk %}"><button>Edit</button></a>
		{% endif %}
	  </p>
	  <div class="indented">
		<p class="entry-body">{{ entry.role }}</p>
		<p class="entry-where">{{ entry.where }}</p>
	  </div>
	  {% endfor %}
	</div>
	{% endif %}

	<!-- Projects -->
	{% if projects %}
	<div class="projects">
	  <h3 class="entry-add">Projects</h3>
	  {% if user.is_authenticated %}
	  <a href="{% url 'new_project' %}" class="entry-add"><button>Add Project</button></a>
	  {% endif %}
	  {% for project in projects %}
	  <p class="project-name">
		<b>{{ project.name }}</b>
		{% if user.is_authenticated %}
		<a href="{% url 'edit_project' pk=project.pk %}"><button>Edit</button></a>
		{% endif %}
	  </p>
	  <div class="indented">
		<p class="project-body">{{ project.description }}</p>
		<p class="project-link">{{ project.link }}</p>
	  </div>
	  {% endfor %}
	</div>
	{% endif %}

	<!-- Personal interests -->
	{% if personal_interests %}
	<div class="personal-interests">
	  <h3 class="entry-add">Personal Interests</h3>
	  {% if user.is_authenticated %}
	  <a href="{% url 'new_personal_interest' %}" class="entry-add"><button>Add Prsonal Interest</button></a>
	  {% endif %}
	  {% for interest in personal_interests %}
	  <p>
		{{ interest.interest }}
		{% if user.is_authenticated %}
		<a href="{% url 'edit_personal_interest' pk=interest.pk %}"><button>Edit</button></a>
		{% endif %}
	  </p>
	  {% endfor %}
	</div>
	{% endif %}

	<!-- References -->
	{% if references %}
	<div class="references">
	  <h3 class="entry-add">References</h3>
	  {% if user.is_authenticated %}
	  <a href="{% url 'new_reference' %}" class="entry-add"><button>Add Reference</button></a>
	  {% endif %}
	  {% for reference in references %}
	  <p class="reference-name">
		<b>{{ reference.name }}</b>
		{% if user.is_authenticated %}
		<a href="{% url 'edit_reference' pk=reference.pk %}"><button>Edit</button></a>
		{% endif %}
	  </p>
	  <div class="indented">
		<p class="reference-who">{{ reference.who }}</p>
		<p class="reference-email">{{ reference.email}}</p>
		{% if reference.text %}
		<p class="reference-text">{{ reference.text }}</p>
	  </div>
	  {% endif %}
	  {% endfor %}
	</div>
	{% endif %}

  </div>

  {% endblock %}
</div>